In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from Config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Current Description,Rain (inches),Snow (inches),Humidity,Cloudiness,Wind Speed,Country
0,0,hilo,19.7297,-155.0900,79.39,clear sky,0,0,65,0,2.44,US
1,1,eureka,40.8021,-124.1637,58.68,clear sky,0,0,74,0,11.01,US
2,2,rikitea,-23.1203,-134.9692,77.85,few clouds,0,0,72,15,12.10,PF
3,3,preobrazheniye,42.9019,133.9064,15.24,overcast clouds,0,0,75,98,9.33,RU
4,4,sayville,40.7359,-73.0821,44.29,overcast clouds,0,0,78,100,11.50,US

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input('What is the minimum temperature you would like for your trip?'))
max_temp = float(input('What is the maximum temperature you would like for your trip?'))

What is the minimum temperature you would like for your trip?50
What is the maximum temperature you would like for your trip?90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_temp_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)] 
preferred_cities_temp_df.head()
preferred_cities_temp_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 414 entries, 0 to 683
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City_ID              414 non-null    int64
 1   City                 414 non-null    object
 2   Lat                  414 non-null    float64
 3   Lng                  414 non-null    float64
 4   Max Temp             414 non-null    float64
 5   Current Description  414 non-null    object
 6   Rain (inches)        414 non-null    int64
 7   Snow (inches)        414 non-null    int64
 8   Humidity             414 non-null    int64
 9   Cloudiness           414 non-null    int64
 10  Wind Speed           414 non-null    float64
 11  Country              409 non-null    object
dtypes: float64(4), int64(5), object(3)
memory usage: 42.0+ KB

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_temp_df = preferred_cities_temp_df.dropna()
preferred_cities_temp_df

,City_ID,City,Lat,Lng,Max Temp,Current Description,Rain (inches),Snow (inches),Humidity,Cloudiness,Wind Speed,Country
0,0,hilo,19.7297,-155.0900,79.39,clear sky,0,0,65,0,2.44,US
1,1,eureka,40.8021,-124.1637,58.68,clear sky,0,0,74,0,11.01,US
2,2,rikitea,-23.1203,-134.9692,77.85,few clouds,0,0,72,15,12.10,PF
6,6,hermanus,-34.4187,19.2345,64.90,clear sky,0,0,70,1,12.68,ZA
7,7,kaeo,-35.1000,173.7833,60.33,overcast clouds,0,0,91,93,3.31,NZ
...,...,...,...,...,...,...,...,...,...,...,...,...
672,672,raga,8.4596,25.6780,75.29,broken clouds,0,0,13,63,3.96,SS
675,675,simbahan,6.3032,120.5836,81.37,scattered clouds,0,0,74,39,17.45,PH
676,676,manjacaze,-24.7117,33.8828,73.13,clear sky,0,0,93,0,5.79,MZ
678,678,chiang khong,20.2613,100.4046,62.80,broken clouds,0,0,91,60,1.19,TH
683,683,port macquarie,-31.4333,152.9167,62.89,few clouds,0,0,92,14,7.02,AU

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_temp_df = preferred_cities_temp_df.dropna()
clean_df

,City_ID,City,Lat,Lng,Max Temp,Current Description,Rain (inches),Snow (inches),Humidity,Cloudiness,Wind Speed,Country
0,0,hilo,19.7297,-155.0900,79.39,clear sky,0,0,65,0,2.44,US
1,1,eureka,40.8021,-124.1637,58.68,clear sky,0,0,74,0,11.01,US
2,2,rikitea,-23.1203,-134.9692,77.85,few clouds,0,0,72,15,12.10,PF
6,6,hermanus,-34.4187,19.2345,64.90,clear sky,0,0,70,1,12.68,ZA
7,7,kaeo,-35.1000,173.7833,60.33,overcast clouds,0,0,91,93,3.31,NZ
...,...,...,...,...,...,...,...,...,...,...,...,...
672,672,raga,8.4596,25.6780,75.29,broken clouds,0,0,13,63,3.96,SS
675,675,simbahan,6.3032,120.5836,81.37,scattered clouds,0,0,74,39,17.45,PH
676,676,manjacaze,-24.7117,33.8828,73.13,clear sky,0,0,93,0,5.79,MZ
678,678,chiang khong,20.2613,100.4046,62.80,broken clouds,0,0,91,60,1.19,TH
683,683,port macquarie,-31.4333,152.9167,62.89,few clouds,0,0,92,14,7.02,AU

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,hilo,US,79.39,clear sky,19.7297,-155.0900,
1,eureka,US,58.68,clear sky,40.8021,-124.1637,
2,rikitea,PF,77.85,few clouds,-23.1203,-134.9692,
6,hermanus,ZA,64.90,clear sky,-34.4187,19.2345,
7,kaeo,NZ,60.33,overcast clouds,-35.1000,173.7833,
8,punta arenas,CL,55.51,broken clouds,-53.1500,-70.9167,
9,cape town,ZA,65.12,few clouds,-33.9258,18.4232,
11,port alfred,ZA,69.19,scattered clouds,-33.5906,26.8910,
12,bluff,NZ,53.80,scattered clouds,-46.6000,168.3333,
13,sao filipe,CV,73.89,overcast clouds,14.8961,-24.4956,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    'radius': 5000,
    'type': 'lodging',
    'key': g_key
}

# 6b. Iterate through the hotel DataFrame.

    # 6c. Get latitude and longitude from DataFrame
for index, row in hotel_df.iterrows(): 
    lat = row['Lat']
    lng = row['Lng']
    
    params['location'] = f'{lat},{lng}'
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'  

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except(IndexError):
        print('Hotel not found... skipping.')

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,hilo,US,79.39,clear sky,19.7297,-155.0900,Hilo Hawaiian Hotel
1,eureka,US,58.68,clear sky,40.8021,-124.1637,Eureka Inn Trademark By Wyndham
2,rikitea,PF,77.85,few clouds,-23.1203,-134.9692,People ThankYou
6,hermanus,ZA,64.90,clear sky,-34.4187,19.2345,Misty Waves Boutique Hotel
7,kaeo,NZ,60.33,overcast clouds,-35.1000,173.7833,Bushido Lodge
8,punta arenas,CL,55.51,broken clouds,-53.1500,-70.9167,Hotel Hain
9,cape town,ZA,65.12,few clouds,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"
11,port alfred,ZA,69.19,scattered clouds,-33.5906,26.8910,The Halyards Hotel
12,bluff,NZ,53.80,scattered clouds,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
13,sao filipe,CV,73.89,overcast clouds,14.8961,-24.4956,Hotel Xaguate

In [10]:
# 8a. Create the output File (CSV)
output_data_file = 'WeatherPy_Vacation.csv'
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} at {Max Temp}</dd>
"""

In [12]:
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [13]:
# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[['Lat', 'Lng']]

In [16]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))